{% extends "main_template.html" %}

{% block content %}

    <table class="table table-hover">
    <thead>
        <tr>
            <th>
                Product Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total Price
            </th>
            <th>

            </th>
        </tr>
        </thead>

        {% if ok %}
            {% for product in products %}
                <tr>
                    <td>
                        {{ product.name }}
                    </td>
                    <td>
                        {{ product.price }}
                    </td>
                    <td>
                        {{ product.quantity }}
                    </td>
                    <td>
                        {{ product.products_total }}
                    </td>
                    <td>
                        <a href="{% url 'remove_cart' product.id %}">&times;</a>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>

    {% if ok %}
    <p> Total: ${{ total }} </p>
    {% else %}
        You don't have any products in your cart.
    {% endif %}


    {% if total > 0 %}
        <a href="{% url 'checkout' %}">Checkout</a>
    {% endif %}

{% endblock %}