{% extends 'main_template.html' %}

{% block content %}

{% if added %}

    <div class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong> The product has been added to your cart.
  </div>

{% endif %}

<a href="{% url 'index' %}">Back to products </a>

<h2>{{ product.name }}</h2>

{{ product.description }}

    Price: ${{ product.price }}

    <form action="{% url 'product_view' product.id %}" method="post">
    {% csrf_token %}
        <input type="submit" value="Add To Card" />

    </form>
{% endblock %}