{% extends "main_template.html" %}

{% block content %}

<div class="user_profile">
    <span> First name: {{profile.user.first_name}} </span><br/>
    <span> Last name: {{profile.user.last_name}} </span><br/>
    <span> Date of birth: {{profile.birthdate}} </span><br/>
    <span> Gender : {{profile.gender}} </span><br/>
    <br/>
    <br/>

    <h2> My orders</h2>
    <hr/>

    {% for order in orders %}
        <h5>#{{ order.pk }}</h5>
        <ul>
            <li>Total: {{ order.total }}</li>
        </ul>
    {% endfor %}






</div>


{% endblock %}
